.hero {
    &--bgimg {
        @include bgimg;
    }
    //filter
    &__filter {
        background-color: rgba(black, 0.40);
        width: 100%;
        height: 100%;
        position: absolute;
    }

    //hero contenidos
    &__container {
        position: relative;
    }
    &__content {
        padding: 8rem 0;
    }
}